@model Quill.Models.StoryStartupTuple

@{
    ViewBag.Title = Model.StoryTitle;
}

@* MWCTODO: we want to move this off to a .js file in due course *@

@section scripts {

<script type="text/javascript">
    var continueStoryUrl = '@Url.Content("~/Ink/ContinueStory")';
    var storyId = @Model.StoryId;
    var storyStateGuid = '@Model.StoryStateGuid.ToString()';

    var $storyMainDiv;
    var $storyChoicesDiv;

    $(document).ready(function () {
        $storyMainDiv = $("#story-main-div");
        $storyChoicesDiv = $("#story-choices-div");

        $storyChoicesDiv.on('click', '.story-choice-link', function () {
            $storyChoicesDiv.empty();
            continueStory($(this).data('cindex'));
            return false;
        })

        continueStory();
    });

    function continueStory(choiceIndex, path) {
        $("#story-main-div p.new-text").removeClass("new-text");

        $.getJSON(
            continueStoryUrl,
            { "storyId": storyId, "storyStateGuid": storyStateGuid, "choiceIndex": choiceIndex, "path": path },
            function (messages) {
                processStoryMessages(messages);
            }
        );
    }

    function processStoryMessages(messages) {
        for (var i = 0; i < messages.length; i++) {
            if (messages[i].messageType == 'text') {
                $storyMainDiv.append($('<p class="new-text"></p>').html(messages[i].outputText));
            } else if (messages[i].messageType == 'choice') {
                $storyChoicesDiv.append($('<p><a href="#" class="story-choice-link" data-cindex="' + messages[i].choiceIndex + '">' + messages[i].outputText + '</a></p>'));
            } else if (messages[i].messageType == 'error') {
                $storyMainDiv.append($('<p style="color: red"></p>').html(messages[i].outputText));
            }
        }

        if (messages.length > 0) $storyMainDiv.append('<hr />');

        $storyMainDiv.scrollTop($storyMainDiv.prop('scrollHeight') - $storyMainDiv.innerHeight());
        $storyChoicesDiv.scrollTop($storyChoicesDiv.prop('scrollHeight') - $storyChoicesDiv.innerHeight());
    }
</script>

}


<h2>@ViewBag.Title</h2>

<div class="row">
    <div id="story-main-div" class="col-md-8">

    </div>
    <div id="story-choices-div" class="col-md-4">

    </div>
</div>

<div class="row">
</div>
