@{
    string webAppPath = ViewBag.WebAppPath == null ? "/" : (string)ViewBag.WebAppPath;
    bool inkFileExists = (bool)ViewBag.InkFileExists;
}

<div class="row">
    <div class="row">
        <div class="col-md-12">
            <p class="alert alert-info">NOTICE: Quill will be getting an update on July 22. After the upgrade features from newer Ink versions will become available.</p>
            <p class="alert alert-info">Permaplays created on this version of Quill won't work after the upgrade and will need to be recreated.</p>
            <p class="alert alert-info">There will be some downtime around the upgrade. How long depends on how many complications I run into. Cross your fingers.</p>
        </div>
    </div>
</div>

<form>
    @if (inkFileExists) 
    {
        <div class="row">
            <div class="col-md-6 col-md-offset-3 col-xs-12">
                <p>Welcome! Enjoy playing this story.</p>
                <p>If you'd like to try writing one of your own, see the <a href="@(webAppPath)">main Quill page</a>.</p>
            </div>
        </div>
        <hr>
        <div class="row" style="padding-top: 10px;" >
            <div class="col-md-6 col-md-offset-3 col-xs-12">
                <div id="story-main-div" class="col-md-12"></div>
                <div id="story-choices-div" class="col-md-12"></div>
                <div id="story-restart-div" class="col-md-12" style="display: none;"><em>(Story is complete. You can <a id="restart-link" href="#">restart the story</a> and play again from the beginning.)</em></div>
            </div>
        </div>
    }
    else
    {
        <div class="row">
            <div class="col-md-6 col-md-offset-3 col-xs-12">
                <p>Sorry, we weren't able to find the Ink story you requested. Your link may be in error or the story may have been removed.</p>
            </div>
        </div>
    }
</form>

@* below is very similar to main page, if you start making a lot of changes to this and the main page both, refactor. *@
@section scripts {

<script type="text/javascript">
    var continueStoryUrl = '@(webAppPath)Home/ContinueStory';
    var sessionGuid = '@(((Guid)ViewBag.SessionGuid).ToString())';
    var playId = '@ViewBag.PlayId.ToString()';

    var $storyMainDiv;
    var $storyChoicesDiv;
    var $storyStatusDiv;
    
    $(document).ready(function () {
        $storyMainDiv = $("#story-main-div");
        $storyChoicesDiv = $("#story-choices-div");

        $storyChoicesDiv.on('click', '.story-choice-link', function () {
            $storyChoicesDiv.empty();
            continueStory($(this).data('cindex'), null);
            return false;
        })
        
        $("#restart-link").click(function(e) { e.preventDefault(); window.location.reload(false); })
        
        continueStory(null);
    });
    
    function emptyAll() {
        $storyMainDiv.empty();
        $storyChoicesDiv.empty();
        $storyStatusDiv.empty();
    }

    function continueStory(choiceIndex) {
        $("#story-main-div p.new-text").removeClass("new-text");

        $.getJSON(
            continueStoryUrl,
            { "sessionGuid": sessionGuid, "playId": playId, "choiceIndex": choiceIndex },
            function (messages) {
                var currentChoices = processStoryMessages(messages);
            }
        );
    }

    //displays results from the current message set, and returns the set of valid choices for the present halt (for possibly choice replaying).
    function processStoryMessages(messages) {
        var currentChoices = [];
        for (var i = 0; i < messages.length; i++) {
            if (messages[i].messageType == 'text') {
                $storyMainDiv.append($('<p class="new-text"></p>').html(messages[i].outputText));
            } else if (messages[i].messageType == 'choice') {
                currentChoices.push(messages[i].choiceIndex);
                $storyChoicesDiv.append($('<p><a href="#" class="story-choice-link" data-cindex="' + messages[i].choiceIndex + '">' + messages[i].outputText + '</a></p>'));
            } else if (messages[i].messageType == 'error') {
                $storyMainDiv.append($('<p class="alert alert-danger"></p>').html(messages[i].outputText));
            }
        }

        if (messages.length > 0 && currentChoices.length > 0) $storyMainDiv.append('<hr />');
        
        if (currentChoices.length == 0) $("#story-restart-div").show();

        $storyMainDiv.scrollTop($storyMainDiv.prop('scrollHeight') - $storyMainDiv.innerHeight());
        $storyChoicesDiv.scrollTop($storyChoicesDiv.prop('scrollHeight') - $storyChoicesDiv.innerHeight());
        
        return currentChoices;
    }
</script>
}
